* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #6F92BF;
}

body {
    min-height: 100vh;
    background-color: #282C40;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 300;
}

#root {
    min-height: 100vh;
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

header {
    /* border: 2px solid green; */
    height: fit-content;
    position: sticky;
    top: 0;
}

main {
    flex-grow: 1;
    /* border: 2px solid white; */
}

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #AAAAAA;
    position: sticky;
    bottom: 0;
    /* border: 1px solid white; */
    margin-top: auto;
}

.crestline-logo-section {
    /* border: 1px solid white; */
}

.navbar-section {
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

#crestline-logo {
    /* border: 1px solid red; */
    width: 100px;
}

.nav-links {
    /* border: 1px solid red; */
    align-self: flex-end;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.nav-links>a {
    /* border: 1px solid white; */
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
    text-align: center;
    background-image: url('/images/camp.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* border: 3px solid red; */
}

.home-section h1 {
    font-size: 3em;
}

#find-van-btn {
    height: 50px;
    width: 250px;
    min-width: fit-content;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: #3C4973;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.about-section {
    /* border: 2px solid white; */
}

.about-content {
    /* border: 2px solid green; */
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.about-brag {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-brag h1 {
    font-size: 2em;
    letter-spacing: 0.03em;
}

.explore-vans {
    background-color: #8A7ED9;
    padding: 35px;
    border-radius: 8px;
}

#explore-van-btn {
    height: 50px;
    width: 200px;
    min-width: fit-content;
    background-color: #3C4973;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 1);
}

.vans-section {
    padding: 30px;
    /* border: 1px solid pink; */
}

.vans-list {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    gap: 30px;
}

.vans-content {
    /* border: 1px solid black; */
}

.van {
    /* border: 1px solid white; */
}

.van-image {
    /* border: 2px solid green; */
    max-width: 300px;
    border-radius: 8px;
}

.van-filter-section {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.van-options-btn {
    width: 150px;
    height: 35px;
    border-style: none;
    background-color: #3C4973;
    font-family: 'Poppins';
    color: #AAAAAA;
    border-radius: 6px;
}

.van-options-btn:hover {
    cursor: pointer;
}

.van-name-price {
    display: flex;
    justify-content: space-between;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

.simple,
.luxury,
.rugged {
    color: white;
}

.van-type-btn {
    color: white;
    width: 100px;
    min-width: fit-content;
    height: 30px;
    border-style: none;
    border-radius: 8px;
}

.van-detail-section {
    /* border: 2px solid white; */
    padding: 30px 50px;
}

.van-detail {
    /* border: 5px solid red; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.van-detail-content {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.van-detail-image {
    /* border: 2px solid white; */
    max-width: 400px;
    border-radius: 10px;
}

.rent-van {
    background-color: #3C4973;
    height: 40px;
    width: 250px;
    min-width: fit-content;
    color: white;
    border-style: none;
    border-radius: 8px;
}

.host-nav-links {
    /* border: 1px solid red; */
    padding: 30px;
    display: flex;
    gap: 15px;
}

.active-host-link {
    font-weight: 600;
    text-decoration: underline;
}

.host-vans-wrapper {
    /* border: 1px solid red; */
    padding: 30px;
}

.host-vans-cards-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.host-van-card {
    /* border: 2px solid black; */
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    background-color: #3C4973;
}

.host-van-card>img {
    max-width: 200px;
    /* border: 1px solid blue; */
    border-radius: 8px;
}

.host-van-card>p {
    display: flex;
    flex-direction: column;
}

.van-detail-layout-wrapper {
    /* border: 2px solid red; */
    padding: 30px;
}

.host-van-detail-card {
    /* border: 2px solid white; */
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.host-van-detail-card-top {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
}

.host-van-detail-card-top>img {
    max-width: 250px;
    border-radius: 8px;
}

.host-van-detail-card-navlinks {
    display: flex;
    gap: 10px;
}

.host-van-detail-outlet {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form {
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.login-form>input {
    min-height: 30px;
}

.login-button,
.hint-button {
    height: 30px;
    background-color: #3C4973;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
    cursor: pointer;
    width: 320px;
    margin-top: 10px;
}

.form-section {
    /* border: 2px solid red; */
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.income-wrapper {
    /* border: 2px solid red; */
    padding: 20px;
}

.income-chart {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.income-transactions {
    /* border: 2px solid white; */
    /* padding: 10px; */
}

.transactions-title {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.transactions-cards-wrapper {
    /* border: 2px solid white; */
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow: scroll;
}

.transaction-cards {
    /* border: 2px solid red; */
    border-radius: 6px;
    background-color: #3C4973;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 940px) {
    .van-detail {
        flex-direction: row;
    }
    .van-detail-image {
        max-width: 450px;
    }
}