* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-size: 1.2em;
    font-weight: 500;
    max-width: 600px;
    min-height: 100vh;
    margin: 2px auto;
    background-color: #FFF7ED;
    font-family: 'Inter', sans-serif;
}

.navbar-section {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #FFF7ED;
    gap: 15px;
}

#vanlife-logo {
    /* border: 1px solid red; */
    font-weight: 800;
    margin-right: auto;
    width: 150px;
}

.nav-links {
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
}

.home-section {
    color: #FFFFFF;
    height: 90vh;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/images/home-background.png');
    background-size: cover;
    /* border: 3px solid red; */
    margin-bottom: 0;
}

.home-section h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

#find-van-btn {
    height: 60px;
    width: 80%;
    border-radius: 10px;
    font-weight: 600;
    background-color: #FF8C38;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
}

.about-content {
    padding: 50px 50px 70px;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.about-brag {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-brag h1 {
    font-size: 2em;
    letter-spacing: 0.03em;
}

.explore-vans {
    background-color: #FFCC8D;
    padding: 35px;
    border-radius: 8px;
}

#explore-van-btn {
    height: 50px;
    width: 40%;
    background-color: #161616;
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    margin-top: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #AAAAAA;
    height: 80px;
}

.vans-section {
    padding: 30px;
    padding-top: 0;
    /* border: 1px solid red; */
}

.vans-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    gap: 4%;
}

.vans-content {
    /* border: 1px solid black; */
}

.van {
    /* border: 1px solid black; */
    width: 48%;
    height: fit-content;
    margin-bottom: 4%;
}

.van-image {
    width: 100%;
    min-width: 150px;
    border-radius: 8px;
}

.van-filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    /* border: 1px solid red; */
    padding: 2%;
    padding-left: 0;
}

.van-options-btn {
    width: 22%;
    min-height: 35px;
    border-style: none;
    background-color: #FFEAD0;
}

.van-name-price {
    display: flex;
    justify-content: space-between;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

.van-type-btn {
    color: #FFEAD0;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 8px;
}

.van-detail-section {
    /* border: 1px solid red; */
    padding: 30px;
    padding-top: 0;
}

.van-detail {
    /* border: 5px solid purple; */
    margin-top: 40px;
}

.van-detail-content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rent-van {
    background-color: #FF8C38;
    height: 40px;
    color: #FFFFFF;
    border-style: none;
    border-radius: 8px;
}

.host-nav-links {
    /* border: 1px solid red; */
    padding: 30px;
    display: flex;
    gap: 15px;
}

a:hover {
    color: red;
    text-decoration: underline;
}